<!-- home section -->
<section class="slider-section p-0 home-image">
    <div class="slider-content">
        <div>
            <img src="assets/images/landing-page/icon-image/logo.png">
            <h3>Lo que necesites al alcance de sus manos </h3>
            <h3>MODA <span>POR</span> MAYOR</h3>
            <p>Multikart es la tienda de perfecta para su compra. it has all features and modules to create your amazing ecommerce website. you can use this template for selling fashion, flowers, watches, furniture, vegetable, beauty products etc.

            </p>
            <a href="pages/register" class="btn btn-primary">Registrate ahora</a>
            <br>
            <a href="pages/login" class="btn btn-success">Entrar</a>
        </div>
    </div>
    
    <div id="section06" class="demo">
        <a href="home/left-sidebar/collection/all"><span></span>Iniciar visita</a>
    </div>
</section>